!**/src/main/**/build/
!**/src/main/**/target/
!**/src/test/**/build/
!**/src/test/**/target/
!.mvn/wrapper/maven-wrapper.jar
*.bak
*.class
*.ctxt
*.ear
*.iml
*.ipr
*.iws
*.jar
*.launch
*.log
*.nar
*.pydevproject
*.rar
*.swp
*.tar.gz
*.tmp
*.war
*.zip
*~.nib
.apt_generated
.apt_generated/
.apt_generated_test/
.autotools
.buildpath
.cache-main
.classpath
.cproject
.externalToolBuilders/
.factorypath
.idea
.loadpath
.metadata
.mtj.tmp/
.project
.recommenders
.recommenders/
.scala_dependencies
.settings
.settings/
.springBeans
.sts4-cache
.sts4-cache/
.target
.tern-project
.texlipse
.vscode/
.worksheet
/.nb-gradle/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
bin/
build/
HELP.md
hs_err_pid*
local.properties
log/
sandbox/
target
target/
tmp/
.dbeaver
.DS_Store
